<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Address | RMHUB</title>
    <link rel="icon" type="image/x-icon" href="/images/NavImg.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #3cf696;
            height: 60px;
        }

        .navbar img {
            height: 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .form-container {
            width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            animation: slideIn 1s ease;
        }

        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(-50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .login-title {
            background-color: #3cf696;
            color: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }

        .error {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
        }

        /* Form styles */
        .form-group {
            margin-bottom: 15px;
        }

        .form-label {
            font-weight: bold;
            color: black;
        }

        .form-control {
            border-radius: 10px;
            border: 1px solid #3cf696;
            padding: 10px;
            width: 100%;
            background-color: #ffffff;
        }

        .btn-primary {
            background-color: #3cf696;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            color: #fff;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #32c084;
        }
    </style>
</head>

<body>

    <!-- <div class="navbar" >
        <img src="/images/NavImg.jpg" alt="Logo" >
    </div> -->

    <div class="container">
        <div class="form-container">
            <button class="close-btn" style="float:right; border-radius:50px"
                onclick="window.history.back()">&times;</button>

            <div class="login-title">Edit Address</div>

            <form action="/profile/editaddress/<%= address._id %>" method="POST" onsubmit="return validateForm()">
                <%if(locals.exists){%>
                    <div class="error" style="text-align:center;font-size:large;">
                        <%= exists %>
                    </div>
                    <%}%>
                        <div class="form-group">
                            <!-- <label for="addressLineOne" class="form-label">Address Line 1:</label> -->
                            <input type="text" id="addressLineOne" name="addressLineOne"
                                value="<%= address.addressLineOne %>" class="form-control">
                            <div class="error" id="addressLineOneError"></div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="addressLineTwo" class="form-label">Address Line 2:</label> -->
                            <input type="text" id="addressLineTwo" name="addressLineTwo"
                                value="<%= address.addressLineTwo %>" class="form-control">
                            <div class="error" id="addressLineTwoError"></div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="city" class="form-label">City:</label> -->
                            <input type="text" id="city" name="city" value="<%= address.city %>" class="form-control">
                            <div class="error" id="cityError"></div>

                        </div>

                        <div class="form-group">
                            <!-- <label for="state" class="form-label">State:</label> -->
                            <input type="text" id="state" name="state" value="<%= address.state %>"
                                class="form-control">
                            <div class="error" id="stateError"></div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="pincode" class="form-label">Pincode:</label> -->
                            <input type="text" id="pincode" name="pincode" value="<%= address.pincode %>"
                                class="form-control">
                            <div class="error" id="pincodeError"></div>
                        </div>

                        <div class="form-group">
                            <!-- <label for="addressType" class="form-label">Address Type:</label> -->
                            <select id="addressType" name="addressType" class="form-control"
                                style="background-color:#d8f0dd">
                                <option value="Home" <%=address.addressType==='Home' ? 'selected' : '' %>>Home</option>
                                <option value="Work" <%=address.addressType==='Work' ? 'selected' : '' %>>Work</option>
                            </select>
                            <div class="error" id="addressTypeError"></div>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Update Address</button>
                        </div>
            </form>
        </div>
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // Function to validate form fields
        function validateForm() {
            var addressLineOne = document.getElementById("addressLineOne").value.trim();
            var addressLineTwo = document.getElementById("addressLineTwo").value.trim();
            var city = document.getElementById("city").value.trim();
            var state = document.getElementById("state").value.trim();
            var pincode = document.getElementById("pincode").value.trim();

            // Validate addressLineOne
            if (addressLineOne == "") {
                document.getElementById("addressLineOneError").innerHTML = "*Please enter address line 1";
                document.getElementById("addressLineOne").style.borderColor = "red";
                return false;
            } else {
                document.getElementById("addressLineOneError").innerHTML = "";
                document.getElementById("addressLineOne").style.borderColor = "";
            }

            // Validate addressLineTwo
            if (addressLineTwo == "") {
                document.getElementById("addressLineTwoError").innerHTML = "*Please enter address line 2";
                document.getElementById("addressLineTwo").style.borderColor = "red";
                return false;
            } else {
                document.getElementById("addressLineTwoError").innerHTML = "";
                document.getElementById("addressLineTwo").style.borderColor = "";
            }

            // Validate city
            if (city == "") {
                document.getElementById("cityError").innerHTML = "*Please enter city";
                document.getElementById("city").style.borderColor = "red";
                return false;
            } else {
                document.getElementById("cityError").innerHTML = "";
                document.getElementById("city").style.borderColor = "";
            }

            // Validate state
            if (state == "") {
                document.getElementById("stateError").innerHTML = "*Please enter state";
                document.getElementById("state").style.borderColor = "red";
                return false;
            } else {
                document.getElementById("stateError").innerHTML = "";
                document.getElementById("state").style.borderColor = "";
            }

            // Validate pincode
            if (pincode == "" || !(/^\d{6}$/.test(pincode))) {
                document.getElementById("pincodeError").innerHTML = "*Please enter a valid pincode";
                document.getElementById("pincode").style.borderColor = "red";
                return false;
            } else {
                document.getElementById("pincodeError").innerHTML = "";
                document.getElementById("pincode").style.borderColor = "";
            }

            // All inputs are valid
            return true;
        }

        // Function to clear error messages when input fields are focused
        document.querySelectorAll('.form-control').forEach(input => {
            input.addEventListener('focus', function () {
                var errorId = this.id + 'Error';
                document.getElementById(errorId).innerHTML = "";
                this.style.borderColor = "";
            });
        });
    </script>


</body>

</html>